<p class="text-danger">{{login.message}}</p>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Sign Up</h3>
  </div>
  <div class="panel-body">
    <p>Name<br>
    <input type="text" ng-model="signup.signupData.name"></p>
    <p>Username<br>
    <input type="text" ng-model="signup.signupData.username"></p>
  	<p>Password<br>
    <input type="password" ng-model="signup.signupData.password"></p>
    <p><button ng-click="signup.doSignup()" type="submit" class="btn btn-primary btn-lg">Sign Up</button></p>
  </div>
</div>
